*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: black;

}


.hero{
    width: 100%;
    height:90vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.8491771708683473) 10%, rgba(255,255,255,0)40%, rgba(0,0,0,0.8323704481792717) 110%), url(./image-30-1683561946.jpg);
    background-size: cover;
}

.sec-1{
    padding-top: 5rem;
    margin-bottom: 150px;
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.8491771708683473) 1%, rgba(255,255,255,0)40%, rgba(0,0,0,0.8323704481792717) 100%), url(./background.jpeg);
    background-size: cover;
}
.btn{
    display: inline-block;
    color: rgb(238, 232, 227);
    background-color: rgba(0, 0, 0, 0);
    font-size: 7px;
    border: 0px;
}

.boton-1{
    padding-left: 60px;
}

.boton-2{
    padding: 0 68px;
}

.boton-3{
    margin-left: 7rem;
    font-size: 7px;
    background-color: black;
    color: rgb(255, 214, 137);
    border-radius: 20px;
    padding: 2px 15px 2px;
}

.sec-2{
    width: 100%;
    height: 40vh;
    padding-top:9rem;
    background-color: rgb(0, 0, 0);
}
.sec-2 h3{
    text-align: center;
    color: rgb(255, 214, 137);
    font-size: 13px;
}

.sec-2 p{
    text-align: center;
    font-size: 8px;
    color: rgb(201, 184, 152);
    padding: 1rem;
}

.sec-3{
    width: 100%;
    background-color: black;
}


.video{
    width: 100%;

}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 30vh;
    background-color: black;
}

.foot button{
    font-size: 35px;
    background-color: rgba(255, 102, 0, 0.699);
    border: none;
    border-radius: 250px;
}

.foot h3{
    color: wheat;
    text-align: center;
}

figure img{
    width: 100%;
}


@media (min-width:375px){

    .hero{
    height:25vh;
    }
    .sec-1{
    height: 25vh;
    }

    .btn{
    font-size: 10px;
    }

    .boton-1{
    padding-left: 62px;
    }
    
    .boton-2{
    padding: 0 68px;
    }
    
    .boton-3{
    margin-left: 8.5rem;
    padding: 2px 15px 2px;
    }
}